<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/static">FINE LUXURY EVENT MANAGEMENT </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-danger" id="navbarNav" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event">Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view-event">View Event</a>
                </li>
                <div sec:authorize="!isAuthenticated()">
                    <a class="btn btn-primary" href="/login" role="button">Login</a>
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <form class="d-flex" role="search" th:action="@{/event/search}" method="get">
                    <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" th:name="keyword">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div>
                    <a class="btn btn-success" href="/signup" role="button">Signup</a>
                </div>
            </ul>
        </div>
    </div>
</nav>
</html>
